<h1 class="header"><%= render partial: "shared/header" %></h1>
<br>

<p id="sign_in_benefits">You are signed in.</p>

<div class="notice">
  <% if flash[:notice] %>
    <strong><%= flash[:notice] %></strong>
  <% end %>
</div>

<%= link_to 'Create Kitchen', new_kitchen_path %>

<% @kitchens.each do |kitchen| %>
<hr>
  <h3><%= kitchen.name %></h3><br>
  <strong>Kitchen owner: </strong> <%= kitchen.user.nickname %><br>
  <strong>Description: </strong><%= kitchen.description %><br>
  <strong>Location: </strong> <%= kitchen.city %>, <%= kitchen.state %>, <%= kitchen.zipcode %><br><br>
  <%= render partial: "reservations/new_reservation_form", :locals => { :reservation => @reservation } %>
<hr>
<% end %>

<%= render partial: "shared/footer" %>
