<div class="main_body">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <% @kitchens.each do |kitchen| %>
    <% next if kitchen.data_status != "active" %>
  <hr>
  <div class="individule_kitchen">
    <h3><%= kitchen.name %></h3><br>
    <strong>Kitchen owner: </strong> <%= kitchen.user.nickname %><br>
    <strong>Description: </strong><%= kitchen.description %><br>
    <strong>Location: </strong> <%= kitchen.city %>, <%= kitchen.state %>, <%= kitchen.zipcode %><br><br>
    <%= render partial: "reservations/new_reservation_form", :locals => { :reservation => @reservation, :kitchen => kitchen } %>
  </div>
  <hr>
  <% end %>

</div>

<div class="footer">
  <%= render partial: "shared/footer" %>
</div>
