<div class="reservations_list">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <% if @reservations.empty? %>
    <h2>There is nothing here.<h2>
  <% end %>

  <h2>Reservations approved by kitchen</h2>

  <ul class="kitchen_reservations_list">
  <% @reservations.each do |reservation| %>
  <li>
  <div class="individule_reservation">
      <dl class="individule_reservation_info">
        <dt class="title">Status:</dt>
        <dd><%= reservation.status %></dd>
        <dt class="title">Reservation for:</dd>
        <dd><%= reservation.kitchen.name %></dd>
        <dt class="title">Number of people:</dt>
        <dd><%= reservation.guest_number %></dd>
        <dt class="title">Reserve on:</dt>
        <dd><%= reservation.reserve_date %>, <%= show_reservation_time(reservation) %></dd>
        <dt class="title">Location:</dt>
        <dd><%= reservation.kitchen.street_address %>, <%= reservation.kitchen.city %>, <%= reservation.kitchen.state %>, 
                      <%= reservation.kitchen.zipcode %></dd>
        <dt class="title">My reservation message:</dt>
        <dd><%= reservation.message_from_guest %></dd>
        <dt class="title">Message from <%= reservation.kitchen.name %>:</dt>
        <dd><%= reservation.message_from_host %></dd>
      </dl>
  </div>
  </li>
  <% end %>
  </ul>
</div>
