<div class="reservations_list">
  <div class="notice">
    <% if flash[:notice] %>
      <strong><%= flash[:notice] %></strong>
    <% end %>
  </div>

  <% if @reservations.count == 0 %>
    There is nothing here.
  <% end %>

  <% @reservations.each do |reservation| %>
  <hr>
    <strong>Status: </strong> <%= reservation.status %><br>
    <strong>Reservation for: </strong> <%= reservation.kitchen.name %><br>
    <strong>Number of people: </strong> <%= reservation.guest_number %><br>
    <strong>Reserve on: </strong> <%= reservation.reserve_date %>, <%= reservation.reserve_time.strftime("%A %l:%M %p") %><br>
    <strong>Location: </strong> <%= reservation.kitchen.city %>, <%= reservation.kitchen.state %>, 
    							  <%= reservation.kitchen.zipcode %><br>
    <strong>Message to owner: </strong> <%= reservation.message %><br>
  <hr>
  <% end %>
</div>
