<div class="reservations_list clearfix">

  <div class="title">
    <h2>Approved reservations</h2>
    <% if @reservations.empty? %>
      <h2>There is nothing here.</h2>
    <% end %>
  </div>

  <ul class="kitchen_reservations_list clearfix">
  <% @reservations.each do |reservation| %>
    <li class="clearfix">
      <div class="single_reservation clearfix">
          <ul class="description_list">
            <li class="title">Status: <%= reservation.status %></li>
            <li><%= show_reservation_time(reservation) %></li>
            <li>
              <div class="kitchen_info">
                <div class="kitchen_link clearfix">
                  <span class="kitchen_name"><%= link_to "#{reservation.kitchen.name}", kitchen_path(reservation.kitchen) %></span> - For <%= reservation.guest_number %> Guest(s)
                </div> 
                <div class="images">
                  <span class="kitchen_image"><%= link_to image_tag(reservation.kitchen.show_front_page_photo_thumbnail), kitchen_path(reservation.kitchen) %></span><span class="kitchen_user_image"><%= link_to user_photo_tag(reservation.kitchen.user, :type => "square", :height => 100, :width => 100), reservation.kitchen.user.link, :target => "_blank" %></span>
                </div>
              </div>
            </li>
            <li>
              <%= render :partial => "kitchens/kitchen_address_full", :locals => { :kitchen => reservation.kitchen } %>
            </li>
            <li class="title">Message from <%= reservation.kitchen.user.first_name %></li>
            <li><%= reservation.message_from_host %></li>
            <li class="title">My original reservation message</li>
            <li><%= reservation.message_from_guest %></li>
          </ul>
      </div>
    </li>
  <% end %>
  </ul>
</div>
