<% if @current_user %> 
  <div id="logged_in_header">
    Hello there, <strong><%= @current_user.nickname %></strong>!
    <%= link_to 'Home', root_url %>
    <%= link_to('Logout', logout_path) %>

    <nav>

      <%= link_to "Create Kitchen", new_kitchen_path %><br>
      <%= link_to "My Kitchens (#{current_user.pending_reservations_count} pending messages)", kitchens_users_path %><br>
      <%= link_to "My reservations (#{@current_user.reservations.approved.count} approved reservations)", reservations_all_users_path %>
    </nav>
  </div>
  
<% else %>
  <div id="logged_out_header">
    <nav><%= render :partial => "shared/index_page_modal" %></nav>
  </div>
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>
  </div>
<% end %>
