Hello there, <strong><%= @current_user.nickname %></strong>!
<%= link_to 'Home', root_url %>
<%= link_to('Logout', logout_path) %>


<nav>

  <%= link_to 'Create Kitchen', new_kitchen_path %><br>
  <%= link_to 'My Kitchens', kitchens_users_path %><br>
  <%= link_to 'My reservations', reservations_all_users_path %>
</nav>
