Hello there, <strong><%= @current_user.nickname %></strong>!
<%= link_to 'Home', root_url %>
<%= link_to('Logout', logout_path) %>


<div class="kitchen_nav_bar">
  <%= link_to 'My Kitchens', kitchens_users_path %><br>

  <%= link_to 'Create Kitchen', new_kitchen_path %>
</div>
