<% if @current_user %> 
  Hello there, <strong><%= @current_user.nickname %></strong>!
  <%= link_to 'Home', root_url %>
  <%= link_to('Logout', logout_path) %>

  <nav>

    <%= link_to "Create Kitchen", new_kitchen_path %><br>
    <%= link_to "My Kitchens (#{@total_pending_reservations} pending messages)", kitchens_users_path %><br>
    <%= link_to "My reservations (#{@current_user.reservations.approved.count} approved reservations)", reservations_all_users_path %>
  </nav>
  
<% else %>
  <h1 class="welcome"> Welcome to Couchfoodie, everyone is a chef and foodie! <%= link_to 'Home', root_url %> </h1>
<% end %>
