<% if current_user %> 
  <div id="logged_in_header">
    <nav>
      <ul id="logged_in_nav_list">

        <li class="drop_down_trigger user_image_circle_container"><%= user_photo_tag(current_user, :type => "square", :height => 15, :width => 15)%>
          <ul class="drop_down_list">
            <li><%= link_to 'Couchfoodie', root_url %></li>
            <li><%= link_to "Create Kitchen", new_kitchen_path %></li>
            <li><%= link_to "My Kitchens (#{current_user.pending_reservations_count} pending)", kitchens_users_path %></li>
            <li><%= link_to "My reservations (#{current_user.reservations.approved.count} approved)", reservations_all_users_path %></li>
            <li><%= link_to('Logout', logout_path) %></li>
          </ul>
          <li><%= link_to 'Couchfoodie', root_url %></li>

        </li>

      </ul>
    </nav>
  </div>
  
<% else %>
  <div id="logged_out_header">
    <nav><%= render :partial => "shared/index_page_modal" %></nav>
  </div>
  <div class="home_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>
  </div>
<% end %>
