<%= form_for([kitchen, reservation]) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><% pluralize(reservation.errors.count, "error") %>Please check your input for the following guideline</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class ="reservation_form_table">
    <div class="content_wrapper row_1">
      <div class="title">
        <h4>Introduce yourself to the host (required)</h4>
      </div>
      <div class="field">
        <% f.label "Message to Host" %>
        <%= f.text_area :message_from_guest, :placeholder => "Are you willing to offer something in return for sharing their food? Do you live close by or are you traveling?", :class => "text_box message_field" %>
      </div>
    </div>


    <div class="content_wrapper row_2">
      <div class="title">
        <h4>Reservation date</h4>
      </div>
      <div class="field">
        <% f.label "Reservation date" %>
        <%= f.date_field :reserve_date, :class => "input_box_normal date_field" %>
      </div>
    </div>

    <div class="content_wrapper row_2">
      <div class="title">
        <h4>Time</h4>
      </div>
      <div class="field">
        <% f.label "Reservation time" %>
        <%= f.time_field :reserve_time, :class => "input_box_normal time_field" %>
      </div>
    </div>

    <div class="content_wrapper row_2 guests">
      <div class="title">
        <h4>Guests</h4>
      </div>
      <div class="field">
        <% f.label "Number of people" %>
        <%= f.select :guest_number, options_for_select(Reservation::VALID_GUEST_NUMBER), :class => "selection_dropdown" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Reserve", :class => "button_normal" %>
    </div>
  </div>
<% end %>
