<%= form_for([kitchen, reservation]) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %>. Oops, need a valid URL and nickname</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Reservation message" %><br>
    <%= f.text_field :message, :class => "text_box" %>
  </div>

  <div class="field">
    <%= f.label "Reservation date" %><br>
    <%= f.date_field :reserve_date, :class => "url_box" %>
  </div>

  <div class="field">
    <%= f.label "Reservation time" %><br>
    <%= f.time_field :reserve_time, :class => "url_box" %>
  </div>

  <div class="actions">
    <%= f.submit "Request reservation!", :class => "button" %>
  </div>
<% end %>
