<%= form_for([kitchen, reservation]) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><% pluralize(reservation.errors.count, "error") %>Please check your input for the following guideline</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Introduce yourself to the host, be honest and respectful" %><br>
    <%= f.text_area :message_from_guest, :placeholder => "250 characters or less", :class => "text_box" %>
  </div>

  <div class="field">
    <%= f.label "Reservation date" %><br>
    <%= f.date_field :reserve_date, :class => "input_box_normal" %>
  </div>

  <div class="field">
    <%= f.label "Reservation time" %><br>
    <%= f.time_field :reserve_time, :class => "input_box_normal" %>
  </div>

  <div class="field">
    <%= f.label "Number of people" %><br>
    <%= f.select :guest_number, options_for_select(Reservation::VALID_GUEST_NUMBER), :class => "selection_dropdown" %>
  </div>

  <div class="actions">
    <%= f.submit "Reserve", :class => "button_normal" %>
  </div>
<% end %>
