<%= form_for kitchen do |f| %>

  <% if kitchen.errors.any? %>
    <div id="error_explanation">
      <h2><% pluralize(kitchen.errors.count, "error") %>Please check your input for the following guideline</h2>

      <ul>
        <% kitchen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="create_kitchen_table", cellspaceing="30">
    <tr>
      <td class="kitchen-form-label">Name</td> 
      <td><%= f.text_field :name, :class => "input_box_normal" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label">Description</td> 
      <td><%= f.text_area :description, :placeholder => "When am I usually available to accommodate guests? What do I usually cook?", :class => "text_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label">Street address</td>
      <td><%= f.text_field :street_address, :class => "input_box_normal" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label">City</td> 
      <td><%= f.text_field :city, :class => "input_box_normal" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label">State</td> 
      <td><%= f.select :state, options_for_select(Kitchen::VALID_STATES), :class => "selection_dropdown" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label">Zipcode</td> 
      <td><%= f.text_field :zipcode, :class => "input_box_normal" %></td>
    </tr>
  </table><br>
      <%= f.submit "Submit", :class => "button_normal" %>
<% end %>
