<%= form_for kitchen do |f| %>

  <% if kitchen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kitchen.errors.count, "error") %>. Oops, please check your input and try again!</h2>

      <ul>
        <% kitchen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="create_kitchen_table", cellspaceing="30">
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">Name</span></td> 
      <td><%= f.text_field :name, :class => "input_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">Description</span></td> 
      <td><%= f.text_area :description, :class => "text_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">Street address</span></td>
      <td><%= f.text_field :street_address, :class => "input_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">City</span></td> 
      <td><%= f.text_field :city, :class => "input_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">State</span></td> 
      <td><%= f.select :state, options_for_select(Kitchen::VALID_STATES), :class => "input_box" %></td>
    </tr>
    <tr>
      <td class="kitchen-form-label"><span class="login_table_content">Zipcode</span></td> 
      <td><%= f.text_field :zipcode, :class => "input_box" %></td>
    </tr>
  </table><br>
      <%= f.submit "Submit", :class => "button" %>
<% end %>
