<div class="index_page_body">
  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <ul class="kitchen_index_list clearfix">
  <% @kitchens.each do |kitchen| %>
      <% next if kitchen.front_page_photo.nil? %>
      <li class="kitchen_box clearfix">
        <div class="thumbnail_container">
          <%= link_to image_tag(kitchen.show_front_page_photo_thumbnail), kitchen_path(kitchen), :class => "darken" %>
        </div>

        <div>
          <span><%= user_photo_tag(kitchen.user, :type => "square") %></span>
          <ul class="kitchen_info">
            <li><%= link_to kitchen.name, kitchen_path(kitchen) %></li>
            <li>Host - <%= kitchen.user.name %></li>
            <li><%= kitchen.city %>, <%= kitchen.state %></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>
