<div class="index_page_body">
  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <ul class="kitchen_index_list clearfix">
  <% @kitchens.each do |kitchen| %>
      <li>
        <div class="single_kitchen_info">
          <h4 class="kitchen_name"><%= kitchen.name %></h4>
          <dl>
            <dt><%= image_tag(kitchen.user.image) %> </dt>
            <dt class="title">Kitchen owner: </dt> 
            <dd><%= kitchen.user.name %></dd>
            <dt class="title">Description: </dt>
            <dd><%= kitchen.description %></dd>
            <dt class="title">Location: </dt> 
            <dd><%= kitchen.city %>, <%= kitchen.state %>, <%= kitchen.zipcode %> (street address will be released once reservation approved by kitchen owner)</dd>
          </dl>
          <%= image_tag(kitchen.front_page_photo.picture.gallery_fill.url) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
