<div class="reservations_list">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <% if @reservations.empty? %>
    There is nothing here.
  <% end %>

  <h2>Pending reservatinos for <%= @kitchen.name %></h2>

  <ul class="kitchen_reservations_list">
  <% @reservations.each do |reservation| %>
  <li>
  <div class="individule_reservation">
      <dl class="individule_reservation_info">
        <dt class="title">Status:</dt>
        <dd><%= reservation.status %></dd>
        <dt class="title">Guest nickname:</dd>
        <dd><%= reservation.user.nickname %></dd>
        <dt class="title">Number of people:</dt>
        <dd><%= reservation.guest_number %></dd>
        <dt class="title">Reserve on:</dt>
        <dd><%= reservation.reserve_date %>, <%= show_reservation_time(reservation) %></dd>
        <dt class="title">Location:</dt>
        <dd> <%= reservation.kitchen.city %>, <%= reservation.kitchen.state %>, 
      							  <%= reservation.kitchen.zipcode %></dd>
        <dt class="title">Message from <%= reservation.user.nickname %>:</dt>
        <dd><%= reservation.message_from_guest %></dd>
      </dl>
      <div class="reservation_approval_form">
        <%= render partial: "approve_reservation_form", :locals => { :reservation => reservation } %>

        <%= render partial: "deny_reservation_form", :locals => { :reservation => reservation } %>
      </div>
  </div>
  </li>
  <% end %>
  </ul>
</div>
