<div class="reservations_list clearfix">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <% if @reservations.empty? %>
    There is nothing here.
  <% end %>

  <h2>Denied reservations for <%= @kitchen.name %></h2>

  <ul class="kitchen_reservations_list clearfix">
  <% @reservations.each do |reservation| %>
  <li>
  <div class="single_reservation clearfix">
      <dl class="single_reservation_info">
        <dt class="title">Status:</dt>
        <dd><%= reservation.status %></dd>
        <dt class="title">Guest nickname:</dd>
        <dd><%= reservation.user.nickname %></dd>
        <dt class="title">Guest email:</dd>
        <dd><%= reservation.user.email %></dd>
        <dt class="title">Number of people:</dt>
        <dd><%= reservation.guest_number %></dd>
        <dt class="title">Reserve on:</dt>
        <dd><%= show_reservation_time(reservation) %></dd>
        <dt class="title">Location:</dt>
        <dd><%= kitchen_location(reservation.kitchen) %></dd>
        <dt class="title">Message from <%= reservation.user.nickname %>:</dt>
        <dd><%= reservation.message_from_guest %></dd>
        <dt class="title">I cannot accommodate because:</dt>
        <dd><%= reservation.message_from_host %></dd>
      </dl>
  </div>
  </li>
  <% end %>
  </ul>
</div>
