<div class="kitchen_show_page_body">

  <style media="screen">
    .kitchen_cover_image { 
      background-image: url( <%= @kitchen.show_cover_photo %>);
    }
  </style>

  <div class="kitchen_cover_image clearfix">
  </div>

  <div class="kitchen_info clearfix">
    <div class="description_wrapper clearfix">
      <div class="owner_info">
        <div class="owner_photo">
          <%= link_to user_photo_tag(@kitchen.user, :type => "square", :height => 200, :width => 200), @kitchen.user.link, :target => "_blank" %>
        </div>
        <div class="owner_description clearfix">
          <%= @kitchen.user.first_name %>
        </div> 
      </div>
      <div class="kitchen_description clearfix">
        <ul class="description_list">
          <li class="kitchen_name"><%= @kitchen.name %></li>
          <li>
            <%= render :partial => "kitchens/kitchen_address_no_street", :locals => { :kitchen => @kitchen } %>
          </li>
          <li><%= @kitchen.menu %></li>
        </ul>
      </div>
      <div class="additional_description clearfix">
        <p><span class="strong">Description</span>: <%= @kitchen.description %></p>
      </div>
    </div>
    <div class="reservation_container">
      <%= render :partial => "reservations/new_reservation_form", :locals => { :kitchen => @kitchen, :reservation => Reservation.new } %>
    </div>
  </div>

  <div class="kitchen_photos clearfix">
    <ul class="photo_list clearfix">
      <% @kitchen.photos.each do |photo| %>
        <li class="clearfix"><%= image_tag(photo.standard_picture) %></li>
      <% end %>
    </ul>
  </div>

</div>
