<div class="kitchen_show_page_body">

  <style media="screen">
    .kitchen_cover_image { 
      background-image: url( <%= @kitchen.front_page_photo.picture.gallery_fill_cover.url %>);
    }
  </style>

  <div class="kitchen_cover_image clearfix">
  </div>

  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <div class="kitchen_info">
    <h3><%= @kitchen.name %></h3>
    <div class="owner">
      Owner: <%= @kitchen.user.first_name %> <%= image_tag(@kitchen.user.image) %>
    </div>
    <div class="kitchen_description">
      <%= @kitchen.description %>
    </div>
    <div class="kitchen_location">
      <%= kitchen_location_no_street(@kitchen) %>
    </div>
    <div class="kichen_photos">
      <% @kitchen.photos.each do |photo| %>
        <%= image_tag(photo.standard_picture) %>
      <% end %>
    </div>
  </div>
  <div class="reservation_box">
    <%= render :partial => "reservations/new_reservation_form", :locals => { :kitchen => @kitchen, :reservation => Reservation.new } %>
  </div>
</div>
