<div class="kitchen_show_page_body">

  <style media="screen">
    .kitchen_cover_image { 
      background-image: url( <%= @kitchen.front_page_photo.picture.gallery_fill_cover.url %>);
    }
  </style>

  <div class="kitchen_cover_image clearfix">
  </div>

  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class="kitchen_info">

    <div class="owner_info clearfix">
      <div class="owner_photo">
        <%= user_photo_tag(@kitchen.user, :type => "square", :height => 100, :width => 100) %>
      </div>
      <div class="owner_description clearfix">
        <%= @kitchen.user.first_name %>
      </div> 
    </div>

    <div class="kitchen_description clearfix">
      <ul class="description_list">
        <li class="kitchen_name"><%= @kitchen.name %></li>
        <li><%= kitchen_location_no_street(@kitchen) %></li>
        <li><%= @kitchen.menu %></li>
      </ul>
    </div>

    <div class="reservation_box">
      <%= render :partial => "reservations/new_reservation_form", :locals => { :kitchen => @kitchen, :reservation => Reservation.new } %>
    </div>
  </div>

  <div class="kitchen_photos clearfix">
    <ul class="photo_list">
      <% @kitchen.photos.each do |photo| %>
        <li><%= image_tag(photo.standard_picture) %></li>
      <% end %>
    </ul>
  </div>

</div>
