<div class="my_kitchen_list">

  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <ul class="my_kitchen clearfix ">
    <% @kitchens.each do |kitchen| %>
    <li>
      <div class="single_kitchen clearfix">
        <dl class="single_kitchen_info clearfix">
          <dt class="kitchen_name"><%= kitchen.name %></dt>
          <dt class="title">Description: </dt>
          <dd><%= kitchen.description %></dd>
          <dt class="title">Location: </dt> 
          <dd><%= kitchen_location(kitchen) %></dd>
        </dl>

        <div class="kitchen_reservations_in_kitchen_block clearfix">
          <ul class="clearfix">
            <li><%= link_to "Pending reservations (#{kitchen.reservations.pending.count})", reservations_pending_kitchen_path(kitchen) %></li>
            <li><%= link_to "Approved reservations (#{kitchen.reservations.approved.count})", reservations_approved_kitchen_path(kitchen) %></li>
            <li> <%= link_to "Denied reservations (#{kitchen.reservations.denied.count})", reservations_denied_kitchen_path(kitchen)%></li>
          </ul>
        </div>
        <div class="kitchen_buttons">
          <ul>
            <li><%= button_to("Add photo", new_kitchen_photo_path(kitchen), :method => :get, :class => "button_normal")%></li>
            <li><%= button_to("Edit", edit_kitchen_path(kitchen), :method => :get, :class => "button_normal")%></li>
            <li><%= button_to("Delete", kitchen_path(kitchen), :method => :delete, :class => "button_normal")%></li>
          </ul>
        </div>
        <ul class="photo-list">
          <% if kitchen.photos.empty? %>
            <h3>No photos. :(</h3>
          <% else %>
            <% kitchen.photos.each do |photo| %>
              <li><%= image_tag(photo.picture.gallery_fill.url) %></li>
            <% end %>
          <% end %>
        </ul>
      </div> 
    </li>
  <% end %>
  </ul>
</div>
