<!DOCTYPE html>
<html>
<head>
  <title>Couchfoodie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1 class="header"><%= render partial: "shared/header_logged_in" %></h1>
</header>
<body>

<%= yield %>

</body>
</html>
