<!DOCTYPE html>
<html>
<head>
  <title>Couchfoodie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <header><%= render partial: "shared/header_logged_in" %></header>
    </div>

    <%= yield %>

    <div class="push"></div>
  </div>

  <div class="footer">
    <%= render partial: "shared/footer" %>
  </div>
</body>
</html>
